<div class="h-full bg-gray-900">
    <div class="h-full w-full flex flex-wrap justify-center py-5 px-20">
        <div class="quick-links text-center pb-4 lg:text-left w-full md:w-1/2 lg:w-1/2">
            <div class="flex flex-wrap justify-center lg:justify-start">
                <!-- <div class="pt-4 pl-4"> -->
                <div class="pt-4 cursor-pointer" (click)="scrollTo('landingblock', '/')">
                    <div class="flex flex-row">
                        <div class="logo">
                            <img class="h-20 w-20" src="../../../assets/icons/HU.png" alt="Workflow" />
                        </div>
                        <div class="text ml-2">
                            <div class="flex flex-col">
                                <p class="text-4xl font-extrabold header uppercase red-color">
                                    Home
                                </p>
                                <p class="text-4xl font-extrabold header uppercase blue-color">
                                    University
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-4">
                    <!-- <p class="sub-header text-white font-bold py-1">
                        Student Portal
                    </p>
                    <p class="sub-header text-white font-bold py-1">
                        PCL Web Portal
                    </p>
                    <p class="sub-header text-white font-bold py-1">
                        Rules and Policies
                    </p> -->
                </div>
            </div>
        </div>
        <div class="quick-links text-center pb-4 lg:text-left w-full md:w-1/2 lg:w-1/2">
            <p class="header text-white font-bold text-5xl">
                Quick Links
            </p>
            <div class="flex flex-wrap justify-center lg:justify-start">
                <!-- <div class="pt-4 pl-4"> -->
                <div class="pt-4">
                    <p class="sub-header text-white font-bold py-1 cursor-pointer"
                        (click)="scrollTo('aboutus', '/aboutus')">
                        About Us
                    </p>
                    <p class="sub-header text-white font-bold py-1 cursor-pointer"
                        (click)="scrollTo('contactus', '/contactus')">
                        Contact Us
                    </p>
                    <!-- <p class="sub-header text-white font-bold py-1">
                        Blogs
                    </p> -->
                </div>
                <div class="pt-4">
                    <!-- <p class="sub-header text-white font-bold py-1">
                        Student Portal
                    </p>
                    <p class="sub-header text-white font-bold py-1">
                        PCL Web Portal
                    </p>
                    <p class="sub-header text-white font-bold py-1">
                        Rules and Policies
                    </p> -->
                </div>
            </div>
        </div>
        <div class="quick-links text-center pb-4 lg:text-left w-full md:w-1/2 lg:w-1/3">
            <!-- <p class="header text-white font-bold text-5xl">
                Media Network
            </p>
            <div class="flex flex-wrap justify-center justify-evenly lg:justify-start">
                <div class="pt-4">
                    <p class="sub-header text-white font-bold py-1">
                        News
                    </p>
                    <p class="sub-header text-white font-bold py-1">
                        Economy
                    </p>
                    <p class="sub-header text-white font-bold py-1">
                        Finance
                    </p>
                    <p class="sub-header text-white font-bold py-1">
                        Business
                    </p>
                    <p class="sub-header text-white font-bold py-1">
                        Consultancy
                    </p>
                </div>
                <div class="pt-4 pl-4">
                    <p class="sub-header text-white font-bold py-1">
                        Entertainment
                    </p>
                    <p class="sub-header text-white font-bold py-1">
                        Business
                    </p>
                    <p class="sub-header text-white font-bold py-1">
                        Consultancy
                    </p>
                </div>
            </div> -->
        </div>
        <!-- <div class="quick-links text-center pb-4 lg:text-left w-full md:w-1/2 lg:w-1/3">
            <div class="flex flex-col">
                <div class="pt-4">
                    <p class="header uppercase font-extrabold text-white text-2xl font-bold py-1">
                        Subscribe to our new set of news
                    </p>
                    <div class="input-field">

                        <input type="text" name="email" id="email"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <div class="pt-4">
                        <button
                            class="w-full h-10 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            <span class="header upprcase font-extrabold text-white text-2xl">
                                Subscribe now
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>